<footer class="site-footer">

  <div class="site-links">
    <div class="site-contact">
      <ul>
        {% if site.email %}
        <li><a href="mailto:{{ site.email }}">Contact</a></li>
        {% endif %}

        {% if site.github_username %}
        <li><a rel="external" href="https://github.com/{{ site.github_username }}">Github</a></li>
        {% endif %}

      </ul>
    </div>
  </div>

</footer>
<!-- site-footer -->

<script src="{{ site.url }}/{{ site.baseurl }}/assets/js/jquery-3.1.1.min.js"></script>
<script src="{{ site.url }}/{{ site.baseurl }}/assets/js/typeahead.bundle.min.js"></script>
<script src="{{ site.url }}/{{ site.baseurl }}/assets/js/autocomplete.js"></script>
