---
layout: base
markdown: 0
categori: subject
---

<div id="content">
  <h2 class="page-title">
    <span class="container">{{ page.prefLabel }}</span>
  </h2>

  <div class="container clearfix">
    <dl>
      {% if page.uuid %}
      <dt>Permalink</dt>
      <dd>{{page.uuid}}</dd>
      {% endif %}

      {% if page.definition %}
      <dt>Definition</dt>
      <dd>{{page.definition}}</dd>
      {% endif %}

      {% if page.status %}
      <dt>Status</dt>
      <dd>{{page.status}}</dd>
      {% endif %}

      {% if page.created %}
      <dt>Oprettet</dt>
      <dd>{{page.created}}</dd>
      {% endif %}

      {% if page.updated %}
      <dt>Senest opdateret</dt>
      <dd>{{page.updated}}</dd>
      {% endif %}

      {% if page.scopeNote %}
      <dt>Omfangsnote</dt>
      <dd>{{page.scopeNote}}</dd>
      {% endif %}

      {% if page.historyNote %}
      <dt>Historik</dt>
      <dd>{{page.historyNote}}</dd>
      {% endif %}

      {% if page.changeNote %}
      <dt>Changes</dt>
      <dd>{{page.changeNote}}</dd>
      {% endif %}

      {% if page.altLabels %}
      {% for label in page.altLabels %}
        <dt>Alternativt label</dt>
        <dd>{{label}}</dd>
      {% endfor %}
      {% endif %}

      {% if page.histLabels %}
      {% for label in page.histLabels %}
        <dt>Historisk label</dt>
        <dd>{{label}}</dd>
      {% endfor %}
      {% endif %}

      {% if page.broader %}
      <dt>Bredere koncept</dt>
      <dd>{{page.broader.prefLabel}}</dd>
      {% endif %}

      {% if page.mappings %}
      {% for map in page.mappings %}
        <dt>Relation</dt>
        <dd>
          <dl>
            <dt>Thesaurus</dt>
            <dd>{{map.thesaurus}}</dd>
            <dt>Id</dt>
            <dd>{{map.conceptIdentifier}}</dd>
            {% if map.conceptURL %}
              <dt>Url</dt>
            <dd><a href="{{map.conceptURL}}">{{map.conceptURL}}</a></dd>
            {% endif %}
            <dt>Relationstype</dt>
            <dd>{{map.match}}</dd>
          </dl>
        </dd>
      {% endfor %}
      {% endif %}

    </dl>
  </div>
  <footer>
    <ul>
      <li><a href="{{ site.github.url }}">Forsiden</a></li>
      <li><a href="{{ site.github.url }}/search">Søgeside</a></li>
    </ul>
  </footer>
</div>
